<ol>
	<li>
	  <mat-form-field appearance="fill">
		<mat-label>What's your name?</mat-label>
		<input matInput >
	  </mat-form-field>
	</li>
	<li>
	  <button mat-raised-button (click)="openDialog()">Pick one</button>
	</li>
	<li *ngIf="animal!=null">
	  You chose: <i>{{animal}}</i>
	</li>
  </ol>

<div #about *ngIf="show">
	<h2>Ciao {{user == null ? 'Utente Sconosciuto' : user}}</h2>

	<p class="ciao bg-info" [ngClass]="{'big' : size == 'big', 'small' : size == 'small'}">
		{{today | date: 'dd EEEE MMMM yyyy HH:mm:ss'}}

		{{money | currency}}

		Gente in cerca di se stessi nell'intento di trovare sfogo nell'informatica e nelle parole poco religiose
		pronunciate durante la fase di sviluppo del software: Lorem impsum
		Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem
		impsum Lorem impsum Lorem impsum Lorem impsum
		Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem
		impsum Lorem impsum Lorem impsum Lorem impsum
		Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem
		impsum Lorem impsum Lorem impsum Lorem impsum
		Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem
		impsum Lorem impsum Lorem impsum Lorem impsum
		Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem
		impsum Lorem impsum Lorem impsum Lorem impsumLorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum
		Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum
		Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem
		impsum Lorem impsum Lorem impsum Lorem impsum

		<button (click)="printElement()">Print</button>
		<select (change)="hello()" [formControl]="selectField">
			<option value="1">Grande</option>
			<option value="2">Piccolo</option>
			<option value="3">Reset</option>
		</select>
	</p>
</div>
<button id="button" (click)="showHidden()">Mostra/Nascondi</button>
<app-sidebar></app-sidebar>
<div class="mainpage">
	<h1>Esempio fi Form</h1>
	<!-- form -->
	<div class="formContainer">
		<form (ngSubmit)="send()" [formGroup]="form">
			<input class="form-control" type="text" (input)="checkUser()" placeholder="username" formControlName="user">
			<input class="form-control"type="email" placeholder="E-Mail" formControlName="email">
			<input class="form-control" type="date" placeholder="Data di nascita" formControlName="date">
			<input type="submit" value="Invia">
		</form>
	</div>
	<br>
	<!-- codice -->
	<code>
		x = 1; <br>
		y = 2; <br>
		1 + 1 = 2; <br>
		x + y = 2;
		</code>

	<br>

	<pre>
		<code>
		x = 1;
		y = 2;
		1 + 1 = 2;
		x + y = 2;
		</code>
		</pre>

	<br>

	<p>Usa <kbd>Ctrl + C</kbd> per copiare e <kbd>Ctrl + V</kbd> per incollare!</p><br>
	<p>Tutti conoscono l'errore 404, ma non tutti conoscono <samp>Error 502 bad getway!</samp></p>
	<br>
	<p>La matematica è un'opinione infatti la formula dice che <var>2 + 2 = 22</var></p>

</div>