<div #about *ngIf="show">
    <h2>Ciao {{user}}</h2>
    <p>
		{{today | date: 'dd EEEE MMMM yyyy HH:mm:ss'}}

		{{money | currency}}
		
		Gente in cerca di se stessi nell'intento di trovare sfogo nell'informatica e nelle parole poco religiose
        pronunciate durante la fase di sviluppo del software: Lorem impsum
        Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem
        impsum Lorem impsum Lorem impsum Lorem impsum
        Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem
        impsum Lorem impsum Lorem impsum Lorem impsum
        Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem
        impsum Lorem impsum Lorem impsum Lorem impsum
        Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem
        impsum Lorem impsum Lorem impsum Lorem impsum
        Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem
        impsum Lorem impsum Lorem impsum Lorem impsumLorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum
        Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum
        Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem
        impsum Lorem impsum Lorem impsum Lorem impsum

		<button (click)="printElement()">Print</button>
	  <select (change)="hello(selectField)" #selectField>
		  <option value="1">Saluta con l'alert</option>
		  <option value="2">Saluta in console</option>
	  </select>
	</p>
</div>
<button  id="button" (click)="showHidden()">Mostra/Nascondi</button>
<app-sidebar></app-sidebar>
<div class="mainpage">
    <h1>Esempi di testo</h1>
    <!-- bold -->
    <span>Ciao <b>Grande Amico</b> Come va? <b>Grande Amico</b> </span>
	<br>
	<span>Ciao <strong>Grande Amico</strong> Come va?</span>
	<br>
	<!-- italic -->
	<i>Questo testo è un po' storto</i> Puoi anche usare una <cite>Citazione</cite>
	<br>
	<em>Questo testo è un po' storto</em>
	<br>
	<!-- evidenzia -->
	<span>Ciao <mark>Amico</mark> Come va?</span>
    <br>
	<!-- piccolo -->
	<span>Ciao <small>Piccolo Amico</small> Come va?</span>
	<br>
	<span>Ciao <del>non si può dire</del> Come va?</span>
	<br>
	<!-- sottolineato -->
	<span>Fare click <ins>a questo link</ins> per visitare la pagina!</span>
	<!-- posizione -->
	<br>
	<span>Hey cosa ci fai là <sup>sopra</sup>??</span>
	<br>
	<span>Hey cosa ci fai là <sub>sotto</sub>??</span>
	<br>
	<br>
	<!-- quotazione -->
	<p>Davvero un ottimo soprannome <q lang="no">Nulla00</q></p>
	<br>
	<p>Nella vita tutto ha un senso disse il buon vecchio amico!</p>
	<blockquote cite="https://it.wikipedia.org/wiki/i_tutorial_di_noth_sono_belli">
     Com si può ben notare da questa pagina di wikipedia che ho inventato
	 giusto sul momento per fare questo tutorial!
    </blockquote>
	<br>
	<!-- codice -->
	<code>
	x = 1; <br>
	y = 2; <br>
	1 + 1 = 2; <br>
	x + y = 2;
	</code>
	
	<br>
	
	<pre>
	<code>
	x = 1;
	y = 2;
	1 + 1 = 2;
	x + y = 2;
	</code>
	</pre>
	
	<br>
	
	<p>Usa <kbd>Ctrl + C</kbd> per copiare e <kbd>Ctrl + V</kbd> per incollare!</p><br>
	<p>Tutti conoscono l'errore 404, ma non tutti conoscono <samp>Error 502 bad getway!</samp></p>
	<br>
	<p>La matematica è un'opinione infatti la formula dice che <var>2 + 2 = 22</var></p>
    
   </div>