.big{
    font-size: 300%;
    text-transform: uppercase;
}
.small{
    font-size: 50%;
    text-transform: lowercase;
}
.form-control{
    background-color: white;
    border: 1px solid black;
    padding: 15px;
    outline: none;
}