<div class="sidebar">
    <input type="text" id="searchbar" placeholder="Cerca..." />
    <button id="searchbutton">Cerca</button>
    <hr>
    <h3>Lezioni Recenti:</h3>
    <ol>
        <li>Lezione 1 - Titolo della lezione che non ricordo...</li>
        <li>Lezione 2 - Titolo della lezione che non ricordo...</li>
        <li>Lezione 3 - Titolo della lezione che non ricordo...</li>
        <li>Lezione 4- Titolo della lezione che non ricordo... </li>
        <li>Lezione 5 - Titolo della lezione che non ricordo...</li>
        <li>Lezione 6 - Titolo della lezione che non ricordo...</li>
        <li>Lezione 7 - Titolo della lezione che non ricordo...</li>
        <li>Lezione 8 - Titolo della lezione che non ricordo... </li>
        <li>Lezione 9 - Titolo della lezione che non ricordo...</li>
        <li>Lezione 10 - Titolo della lezione che non ricordo...</li>
    </ol>
    <ul>
        <li>Linguaggi Client
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>JQuery</li>
                <li>Ajax JQuery</li>
            </ul>
        </li>
        <li>Linguaggi Server
            <ul>
                <li>PHP</li>
                <li>JSP</li>
                <li>Python</li>
                <li>SQL
                    <ul>
                        <li>SQL Server</li>
                        <li>MySQL</li>
                        <li>MariaDB</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>