<div class="sidebar">
    <input type="text" id="searchbar" placeholder="Cerca..." />
    <button id="searchbutton" (click)="createEpisode(43, 'roleTest', 'esempio tutorial', '15:00') ">Cerca</button>
    <hr>
    <h2 *ngIf="loading">LOADING...</h2>
    <h3>Utenti Iscritti:</h3>
    <h4 *ngIf="episode!=null">Episodio di oggi {{episode.title}}</h4>
    <ol>
        <li *ngFor="let u of users">{{u.name}} - ID: {{u.id}}</li>
    </ol>
    <ul>
        <li>Linguaggi Client
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>JQuery</li>
                <li>Ajax JQuery</li>
            </ul>
        </li>
        <li>Linguaggi Server
            <ul>
                <li>PHP</li>
                <li>JSP</li>
                <li>Python</li>
                <li>SQL
                    <ul>
                        <li>SQL Server</li>
                        <li>MySQL</li>
                        <li>MariaDB</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>