<main id="main" *ngIf="name!=null">

  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="index.html">Home</a></li>
        <li>Inner Page</li>
      </ol>
      <h2>Inner Page</h2>

    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page">
    <div class="container">
      <button (click)="logout()">Logout</button>
      <h1>
        {{title}} di {{user}}
      </h1>
      <h3>Caricamento al {{progress}}%</h3>
      <p style="color: red">{{error}}</p>
      <div class="uploadfilecontainer"
        (click)="fileInput.click()" appDragDrop (onFileDropped)="onDrag($event)">
        <input hidden type="file" #fileInput (change)="onDrag($event.target.files)">
      </div>
      <div class="files-list" *ngFor="let f of toUpload">
        <p>{{f.name}}</p>
        <button class="delete-file" (click)="toUpload.splice(toUpload.indexOf(f), 1)">
          <img src="assets/img/delete.png">
        </button>
      </div>
      <button class="btn btn-primary" (click)="send()" [disabled]="toUpload.length==0">Upload</button>
    </div>
  </section>

</main>